<?xml version="1.0" encoding="utf-8" ?>

<Configuration>

  <DATABASE>
    <D_ADDR01>DESKTOP-OC6SJV6\BEOMBEOMJOJO</D_ADDR01>
    <D_ADDR02>DESKTOP-OC6SJV6\BEOMBEOMJOJO</D_ADDR02>
    <USER>test</USER>
    <PWD>1234</PWD>
    <SERVICE_NAME>BEOMBEOMJOJO</SERVICE_NAME>
  </DATABASE>
  
</Configuration>